<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>user_name</label>
    <input type="text" id="user" name="user_name"><br>
    <label>f_name</label>
    <input type="text" id="first" name="firstname"><br>
    <label>l_name</label>
    <input type="text" id="last" name="lastname"><br
    <label>email</label>
    <input type="email" id="email_id" name="email"><br>
    <label>password</label>
    <input type="password" id="pass" name="password"><br>
    <label>confirm_password</label>
    <input type="password" id="con_pass" name="confirm_password"><br>
    <label>select gender</label>
    <label>Choose gender : </label>
    <input list="gender" name="my_gender">
        <datalist id="gender">
            <option value="MALE">
            <option value="FEMALE">
            <option value="Others">
        </datalist><br>
    <label>phone_number</label>
    <input type="tel" id="p_number" name="phone_number" pattern="[0-9]{10}"><br>
    <label>place</label>
    <input type="text" id="p_lace" name="place"><br>
    <button>submit</button>
</form>
</body>
</html>